apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-service
  labels:
    app: demo-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-service
  template:
    metadata:
      labels:
        app: demo-service
    spec:
      containers:
      - name: demo
        image: demo-service:1.1
        ports:
        - containerPort: 8080
      resources:
        requests:
          cpu: "100m"
        limits:
          cpu: "500m"

